.participants-container {
	display: flex;
	justify-content: space-around;
}

.participants-container h3 {
	font-size: 5em;
	margin: auto 0;
}

.participants li {
	list-style: none;
	display: flex;
}

.participants-container .summonerSpells {
	padding-top: 30px;
}

.avatar {
	position: relative;
	width: 128px;
	height: 128px;
}

.avatar img {
	width: 128px;
	height: 128px;
}

.avatar p {
	display: block;
	text-align: center;
	position: absolute;
	color: white;
	width: 100%;
	bottom: 10px;
	text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);
}

.avatar strong, .avatar span {
	display: block;
}

.avatar strong {
	color: #f1c40f;
	word-wrap: break-word;
	width: 80%;
	margin: auto;
}
