<strong *ngIf="dataService.summonerData">#{{dataService.summonerData.id}}</strong>

<div *ngIf="myParticipant">
	<p *ngIf="!build"><a routerLink="/build/{{myParticipant.championId}}">No guile for this champion in ARAM</a></p>

	<ul class="items" *ngIf="build">
		<li class="item" *ngFor="let item of build.nitems"><img src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/item/{{item.image.full}}" /></li>
	</ul>
</div>

<h2>Current Game</h2>
<ul class="participants" *ngIf="dataService.spetactorData">
	<li *ngFor="let participant of dataService.spetactorData.participants">
		<strong>#{{participant.championId}} {{participant.summonerName}}</strong>

		<div *ngIf="participant.championId">
			<img src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/champion/{{participant.champion.image.full}}" />
			{{participant.champion.name}}
		</div>
	</li>
</ul>
