<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">
			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>Make a guide</li>
			</ul>

			<h2>Make a guide</h2>

			<p>Before make a guide, you have to select the <strong>champion</strong> and the <strong>game mode</strong></p>

			<div class="dropdown-parent" *ngIf="dataService && dataService.realms">
				<div ngbDropdown class="dropdown">
					<button appDropdown ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownChampion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span *ngIf="!champion">Champions</span>
						<div *ngIf="champion">
							<img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{champion.image.full}}" />
							<span>{{champion.name}}</span>
						</div>
					</button>
					<div ngbDropdownMenu class="dropdown-menu dropdown-champion" aria-labelledby="dropdownChampion">
						<div class="search">
							<input appSearch class="form-control form-control-lg" type="text" placeholder="Search by champion name">
						</div>
						<ul>
							<li class="item" *ngFor="let champion of dataService.champions">
								<div (click)="selectChampion(champion)">
									<img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{champion.image.full}}" />
									<span>{{champion.name}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div ngbDropdown class="dropdown">
					<button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownGameMode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span *ngIf="!gameMode">Game Mode</span>
						<span *ngIf="gameMode">{{gameMode}}</span>
					</button>
					<div ngbDropdownMenu  class="dropdown-menu dropdown-game-mode" aria-labelledby="dropdownGameMode">
						<div class="search">
							<input appSearch class="form-control form-control-lg" type="text" placeholder="Search by game mode name">
						</div>
						<ul>
							<li class="item" *ngFor="let gameMode of gamesMode">
								<div (click)="selectGameMode(gameMode)">
									<span>{{gameMode}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-secondary">
	<div class="wrap-padder">
		<h2>Favorite guide</h2>

		<p *ngIf="! gameMode || ! champion">Select champion and game mode for view and create guide</p>

		<app-guide-display *ngIf="champion && gameMode" [gameMode]="gameMode" [champion]="champion"></app-guide-display>

		<div *ngIf="champion && gameMode">
			<h2>
				Availables guides for {{champion.name}} in {{gameMode}}
				<a *ngIf="dataService.user" routerLink="/guide-edit/{{gameMode}}/{{champion.id}}" type="button" class="btn btn-primary">Make new guide</a>
			</h2>

			<p *ngIf="!dataService.user">You need to be <a routerLink="/authentication">connected</a> for create a new guide</p>

			<table>
				<thead>
					<tr>
						<th style="width: 20%;">Modified date</th>
						<th>Author name</th>
						<th>Version</th>
						<th>Build</th>
						<th>Vote</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let guide of guides">
						<ng-container *ngIf="! guide.favorite">
							<td>{{guide.modifiedData | date:'medium'}}</td>
							<td>
								<span *ngIf="guide.author">{{guide.author.pseudo}}</span>
								<span *ngIf="!guide.author">Deleted user</span>
							</td>
							<td>{{guide.version}}</td>
							<td><app-build-display [guide]="guide"></app-build-display></td>
							<td>{{guide.vote}}</td>
							<td>
								<span *ngIf="dataService.user">
									<a *ngIf="dataService.user.votes.indexOf(guide._id) == -1" (click)="vote(guide)">Vote for favorite</a>
									<span *ngIf="dataService.user.votes.indexOf(guide._id) != -1">Already voted</span>
								</span>

								<span *ngIf="!dataService.user">
									You need to be connected for vote
								</span>
							</td>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
