<div class="build-container">
	<div class="bloc-create-guide" *ngIf="!favoriteGuide._id && favoriteChampion">
		<h4>No guide for {{favoriteChampion.name}} in {{gameMode}}</h4>
		<a routerLink="/guide/{{gameMode}}/{{favoriteChampion.id}}">Clic here to create one</a>
	</div>

	<h3 *ngIf="favoriteChampion">
		Best guide for <span>{{favoriteChampion.name}} in {{gameMode}}</span>
	</h3>

	<div class="favorite-build" *ngIf="favoriteGuide">
		<div *ngIf="favoriteChampion" class="favoriteChampion">
			<p>
				<img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{favoriteChampion.image.full}}" />
			</p>
				<ul>
					<li class="title">{{favoriteChampion.name}}</li>
				</ul>

				<a *ngIf="favoriteGuide._id" routerLink="/guide/{{favoriteGuide._id}}">Edit this guide</a>
		</div>

		<div class="cases-container">
			<ul class="cases">
				<li *ngFor="let starterItem of starterItems">
					<ng-template #itemTemplate>
						<div class="container">
							<div class="img"><img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/item/{{starterItem.image.full}}" /></div>
							<div>
								<strong>{{starterItem.name}}</strong>
								<p [innerHTML]="starterItem.description"></p>
							</div>
						</div>
					</ng-template>

					<img placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" *ngIf="starterItem" src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/item/{{starterItem.image.full}}" />
				</li>
			</ul>

			<ul class="cases">
				<li *ngFor="let buildItem of buildItems">

					<ng-template #itemTemplate>
						<div class="container">
							<div class="img"><img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/item/{{buildItem.image.full}}" /></div>
							<div>
								<strong>{{buildItem.name}}</strong>
								<p [innerHTML]="buildItem.description"></p>
							</div>
						</div>
					</ng-template>

					<img placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" *ngIf="buildItem" src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/item/{{buildItem.image.full}}" />
				</li>
			</ul>
		</div>
	</div>
</div>
