<p>Make sure you have read how to make a guide before created one</p>

<div *ngIf="editedBuild" class="alert alert-success" role="alert">
	This a success !
</div>

<div class="row" *ngIf="champion">
	<div class="col-sm">
		<img src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/champion/{{champion.image.full}}" />
		{{champion.name}}
	</div>
	<div class="col-sm">
		<ul>
			<li>Strength: 100</li>
			<li>Armor: 100</li>
			<li>Vitality: 100</li>
		</ul>
	</div>
</div>

<h2>Best starter</h2>

<p>Clic on slot for open dropdown with all items of current map.</p>
<p>Clic on item for assign him to the current slot.</p>

<div class="itemsSlot">
	<div class="dropdown" *ngFor="let itemSlot of build.starterItemsSlot; let i = index">
		<button appDropdown class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img *ngIf="itemSlot.item" src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/item/{{itemSlot.item.image.full}}" />
		</button>

		<div class="dropdown-menu">
			<div class="search">
				<input appSearch class="form-control form-control-lg" type="text" placeholder="Search by item name">
			</div>
			<ul>
				<li class="item" *ngFor="let item of dataService.items">
					<div (click)="selectItem('starterItemsSlot', i, item)">
						<img src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/item/{{item.image.full}}" />
						<span>{{item.name}}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<h2>Best build</h2>

<p>Clic on slot for open dropdown with all items of current map.</p>
<p>Clic on item for assign him to the current slot.</p>

<div class="itemsSlot">
	<div class="dropdown" *ngFor="let itemSlot of build.buildItemsSlot; let i = index">
		<button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img *ngIf="itemSlot.item" src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/item/{{itemSlot.item.image.full}}" />
		</button>

		<div class="dropdown-menu">
			<div class="search">
				<input appSearch class="form-control form-control-lg" type="text" placeholder="Search by item name">
			</div>
			<ul>
				<li class="item" *ngFor="let item of dataService.items">
					<div (click)="selectItem('buildItemsSlot', i, item)">
						<img src="http://ddragon.leagueoflegends.com/cdn/8.2.1/img/item/{{item.image.full}}" />
						<span>{{item.name}}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<h2>Best summoner spells</h2>
<h2>Best skills</h2>

<button (click)="update()" type="button" class="btn btn-primary">Update Guide</button>
