<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">Help us</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>Help us</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary">

	<div class="wrap-padder">
		<h3>How to help us ?</h3>
		<p>For this <strong>free</strong> web service, we pay 10 dollars per month.</p>
		<p>We use adsense for get some moneu to pay the hebergement, please, try to don't use ad block on this website</p>

		<h4>Make guide</h4>

		<p>You can help with create content like make a guide</p>

		<h4>Share this web service</h4>

		<p></p>
	</div>
</section>
