<div [hidden]="!dataService.loading" class="bloc-loader">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</div>

<div class="wrap">
	<header>
		<div class="wrap-padder sub-content">
			<div class="title">
				<h1><a routerLink="/">LoL Hype</a></h1>
				<p>Version <strong *ngIf="dataService.realms">{{dataService.realms.data.v}}</strong></p>
			</div>

			<ul class="menu">
				<li><a routerLink="/who-we-are">Who we are ?</a></li>
				<li><a routerLink="/about-this-website">About this website</a></li>
				<li><a routerLink="/help-us">Help us</a></li>
				<li *ngIf="!dataService.user"><a routerLink="/authentication">Login</a></li>

				<li *ngIf="dataService.user">
					<div ngbDropdown placement="bottom-right" class="dropdown">
						<button appDropdown ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{dataService.user.pseudo}}
						</button>
						<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownUser">
							<ul>
								<li><a routerLink="/account">Account</a></li>
								<li><a (click)="logout()">Logout</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</header>

	<div [hidden]="dataService.loading">
		<router-outlet *ngIf="dataService.inited"></router-outlet>
	</div>

	<footer>
		<div class="wrap-padder">
			<h3>Be the first summoner with Lol Hype!</h3>

			<div class="sub-content">
				<ul class="messages">
					<li>Made with <i class="fas fa-heart"></i>!</li>
					<li *ngIf="dataService.inited">Data powered by <a href="https://developer.riotgames.com">Riot API</a> and <a href="http://ddragon.leagueoflegends.com/">ddragon</a>. Data version {{dataService.realms.data.v}}</li>
				</ul>


				<ul class="menu">
					<li><a routerLink="/who-we-are">Who we are ?</a></li>
					<li><a routerLink="/about-this-website">About this website</a></li>
					<li><a routerLink="/help-us">Help us</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>
