<div [hidden]="!dataService.loading" class="bloc-loader">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</div>

<div class="wrap">
	<header class="mobile">
		<div class="menu-button" (click)="openMenu('main')">
			<i class="fas fa-bars"></i>
		</div>
		<ul class="menu" [class.open]="menuIsOpen.main">
			<li (click)="closeMenu('main')"><i class="fas fa-times"></i> Menu</li>
			<li (click)="closeMenu('main')"><a routerLink="/">Home</a></li>
			<li (click)="closeMenu('main')"><a routerLink="/who-we-are">Who we are</a></li>
			<li (click)="closeMenu('main')" *ngIf="!dataService.user"><a routerLink="/authentication">Login</a></li>
			<li (click)="closeMenu('main')" *ngIf="dataService.isAdmin"><a routerLink="/admin">Admin</a></li>
			<li (click)="openMenu('user'); closeMenu('main')" *ngIf="dataService.user">{{dataService.user.pseudo}}</li>
		</ul>

		<ul class="menu" [class.open]="menuIsOpen.user" *ngIf="!dataService.user">
			<li (click)="closeMenu('user'); openMenu('main')"><i class="fas fa-times"></i> Retour</li>
			<li><i class="fas fa-times"></i> Retour</li>
		</ul>

		<div class="title">
			<h1><a routerLink="/">guideslol.com</a> <span *ngIf="dataService.realms">{{dataService.realms.data.v}}</span></h1>
		</div>



	</header>

	<header class="pc">
		<div class="wrap-padder sub-content">
			<div class="title">
				<h1><a routerLink="/">Guides LoL</a></h1>
				<p>Version <strong *ngIf="dataService.realms">{{dataService.realms.data.v}}</strong></p>
			</div>

			<ul class="menu">
				<li><a routerLink="/who-we-are">Who we are</a></li>
				<li *ngIf="!dataService.user"><a routerLink="/authentication">Login</a></li>
				<li *ngIf="dataService.isAdmin"><a routerLink="/admin">Admin</a></li>

				<li *ngIf="dataService.user">
					<div ngbDropdown placement="bottom-right" class="dropdown">
						<button appDropdown ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{dataService.user.pseudo}}
						</button>
						<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownUser">
							<ul>
								<li><a routerLink="/account">My Account</a></li>
								<li><a (click)="logout()">Logout</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</header>

	<router-outlet></router-outlet>

	<footer>
		<div class="wrap-padder">

			<div class="sub-content">
				<ul class="messages">
					<li>Made with <i class="fas fa-heart"></i>!</li>
					<li *ngIf="dataService.inited">Data powered by <a href="https://developer.riotgames.com">Riot API</a>, <a href="http://ddragon.leagueoflegends.com/">ddragon</a> and <a href="https://github.com/CommunityDragon/">Community Dragon</a>. Data version {{dataService.realms.data.v}}</li>
					<li>Copyright 2018, Guides LoL.</li>
				</ul>


				<ul class="menu">
					<li>contact@guideslol.com</li>
					<li><a routerLink="/who-we-are">Who we are ?</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>
