<section class="sub-header background">

	<div class="sub-header-content" *ngIf="dataService && dataService.realms">
		<div class="wrap-padder">

			<h2 class="big-title">Guide ARAM Aram {{dataService.realms.data.v}}</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>Guides Ashe ARAM {{dataService.realms.data.v}}</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary">

	<div class="wrap-padder">
		<app-guide-display *ngIf="champion && gameMode" [gameMode]="gameMode" [champion]="champion"></app-guide-display>
	</div>
</section>
