<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">All guides</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>All guides</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary">

	<div class="wrap-padder">
		<ul>
			<li class="item" *ngFor="let gameMode of gamesMode">
				<div class="btn" [class.btn-primary]="gameMode == currentGameMode" [class.btn-secondary]="gameMode != currentGameMode" (click)="selectGameMode(gameMode)">
					<span>{{gameMode}}</span>
				</div>
			</li>
		</ul>

		<ul *ngIf="dataService && dataService.realms">
			<li class="item" ngbTooltip="Guide - {{dataService.realms.data.v}} {{champion.name}} in {{currentGameMode}}" *ngFor="let champion of dataService.champions">
				<a routerLink="/guide/{{currentGameMode}}/current/{{champion.name}}">
					<img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{champion.image.full}}" />
				</a>
			</li>
		</ul>
	</div>
</section>
