<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">404</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>404</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary">

	<div class="wrap-padder">
		<h3>Are you lost ?</h3>

		<p>Do not panic, i will guide you:</p>
		<ul>
			<li>You can go <a routerLink="/">home</a></li>
			<li>Or you can look <a routerLink="/all-guides">all guides</a></li>
			<li>Or, you can stay here, and wait for something that may never happen ?</li>
		</ul>
	</div>
</section>
