<section class="sub-header background" [ngStyle]="{'background-image': getUrl()}">
	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">Create guide</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li *ngIf="this.guide && champion">
					<a routerLink="/guide/{{guide.gameMode}}//{{champion.id}}">Guides</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>Create guide</li>
			</ul>

			<p>Make sure you have read how to make a guide before created one</p>


			<div *ngIf="createdBuild">
				<h2>Guide created with success !</h2>

				<p>Thanks you for your contribute</p>

				<p>Before use your guide in game, your guide need to be validated. Now, a mail has been send to an administrator. You just have to wait validate status on your guide.</p>
				<p>When your guide is validated, you will receive a mail, or you can check statut or edit your guide <a routerLink="/account/guides">here</a> in "My guides" page on your account page</p>

				<p>Wathever, you can go <a routerLink="/">home</a></p>

			</div>

			<div *ngIf="updatedBuild">
				<h2>Guide updated with success !</h2>

				<p>Thanks you for your contribute</p>

				<p>You can go <a routerLink="/">home</a></p>

			</div>

			<div *ngIf="!updatedBuild && !createdBuild && dataService && dataService.realms">
				<div class="row" *ngIf="champion">
					<div class="col-sm">
						<img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{champion.image.full}}" />
						{{champion.name}}
					</div>
				</div>

				<h2 *ngIf="champion && dataService && dataService.realms">You make a guide for {{champion.name}} in {{this.guide.gameMode}} for {{dataService.realms.data.v}}</h2>
			</div>
		</div>
	</div>
</section>

<section *ngIf="!updatedBuild && !createdBuild" class="page-secondary">

	<div class="wrap-padder">
		<h2>Best starter</h2>

		<p>Clic on slot for open dropdown with all items of current map.</p>
		<p>Clic on item for assign him to the current slot.</p>

		<div class="itemsSlot">
			<div ngbDropdown class="dropdown" *ngFor="let itemSlot of guide.starterItemsSlot; let i = index">

				<ng-template #itemTemplate>
					<div *ngIf="itemSlot.item" class="container">
						<div class="img"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{itemSlot.item.iconPath}}" /></div>
						<div>
							<strong>{{itemSlot.item.name}}</strong>
							<p [innerHTML]="itemSlot.item.description"></p>
						</div>
					</div>

					<p *ngIf="! itemSlot.item">Click for select item</p>
				</ng-template>

				<button placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" appDropdown ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img *ngIf="itemSlot.item" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{itemSlot.item.iconPath}}" />
				</button>

				<div class="dropdown-menu" ngbDropdownMenu>
					<div class="search">
						<input appSearch class="form-control form-control-lg" type="text" placeholder="Search by item name">
					</div>
					<ul>
						<li class="item" *ngFor="let item of items">

							<ng-template #itemTemplate>
								<div class="container">
									<div class="img"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{item.iconPath}}" /></div>
									<div>
										<strong>{{item.name}}</strong>
										<p [innerHTML]="item.description"></p>
									</div>
								</div>
							</ng-template>
							<div placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" (click)="selectItem('starterItemsSlot', i, item)">
								<img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{item.iconPath}}" />
								<span style="visibility: hidden">{{item.name}}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<h2>Best build</h2>

		<p>Clic on slot for open dropdown with all items of current map.</p>
		<p>Clic on item for assign him to the current slot.</p>

		<div class="itemsSlot">
			<div ngbDropdown class="dropdown" *ngFor="let itemSlot of guide.buildItemsSlot; let i = index">

				<ng-template #itemTemplate>
					<div *ngIf="itemSlot.item" class="container">
						<div class="img"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{itemSlot.item.iconPath}}" /></div>
						<div>
							<strong>{{itemSlot.item.name}}</strong>
							<p [innerHTML]="itemSlot.item.description"></p>
						</div>
					</div>

					<p *ngIf="! itemSlot.item">Click for select item</p>
				</ng-template>

				<button placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" appDropdown ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img *ngIf="itemSlot.item" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{itemSlot.item.iconPath}}" />
				</button>

				<div class="dropdown-menu" ngbDropdownMenu>
					<div class="search">
						<input appSearch class="form-control form-control-lg" type="text" placeholder="Search by item name">
					</div>
					<ul>
						<li class="item" *ngFor="let item of items">

							<ng-template #itemTemplate>
								<div class="container">
									<div class="img"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{item.iconPath}}" /></div>
									<div>
										<strong>{{item.name}}</strong>
										<p [innerHTML]="item.description"></p>
									</div>
								</div>
							</ng-template>
							<div placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" (click)="selectItem('buildItemsSlot', i, item)">
								<img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{item.iconPath}}" />
								<span style="visibility: hidden">{{item.name}}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<h2>Best summoner spells</h2>
		<p>Not available</p>

		<h2>Best skills</h2>
		<p>Not available</p>

		<button (click)="update()" type="button" class="btn btn-primary">Update Guide</button>
	</div>
</section>
