<div class="build-container">
	<div class="bloc-create-guide" *ngIf="!favoriteGuide._id && favoriteChampion && dataService && dataService.realms">
		<h4>No guide for {{favoriteChampion.name}} in {{gameMode}} in version {{dataService.realms.data.v}}</h4>

		<a *ngIf="dataService.user" routerLink="/guide/edit/{{gameMode}}/{{favoriteChampion.id}}">Clic here to create one</a>
		<span placement="top" data-toggle="tooltip" ngbTooltip="You need to be connected to create a guide" *ngIf="! dataService.user">Clic here to create one</span>
	</div>

	<h3 *ngIf="favoriteChampion && favoriteGuide">
		Best guide for <span>{{favoriteChampion.name}} in {{gameMode}} in {{favoriteGuide.version}}</span>
	</h3>

	<div class="favorite-build" *ngIf="favoriteGuide && dataService && dataService.realms">
		<div *ngIf="favoriteChampion" class="favoriteChampion">
			<p>
				<img src="https://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{favoriteChampion.image.full}}" />
			</p>

			<div class="cases-container">
				<ul class="cases">
					<li *ngFor="let starterItem of starterItems">
						<ng-template #itemTemplate>
							<div class="container">
								<div class="img"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{starterItem.iconPath}}" /></div>
								<div>
									<strong>{{starterItem.name}}</strong>
									<p [innerHTML]="starterItem.description"></p>
								</div>
							</div>
						</ng-template>

						<img placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" *ngIf="starterItem" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{starterItem.iconPath}}" />
					</li>
				</ul>

				<ul class="cases">
					<li *ngFor="let buildItem of buildItems">

						<ng-template #itemTemplate>
							<div class="container">
								<div class="img"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{buildItem.iconPath}}" /></div>
								<div>
									<strong>{{buildItem.name}}</strong>
									<p [innerHTML]="buildItem.description"></p>
								</div>
							</div>
						</ng-template>

						<img placement="top" data-toggle="tooltip" [ngbTooltip]="itemTemplate" container="body" *ngIf="buildItem" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/{{buildItem.iconPath}}" />
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
