<section class="page-content">

	<div class="container">

		<h2>Search a summoner</h2>

		<p>Get <strong>current</strong> game informations from <strong>summoner</strong> League of Legends.</p>
		<p>This service make you better</p>

		<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
			{{errorMessage}}
		</div>

		<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
			<div class="input-group mb-3">
				<input type="text"
							 class="form-control"
							 placeholder="Search summoner in a match"
							 formControlName="summonerName"
							 required>
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary" (click)="onSubmit()" type="button">Search</button>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="page-secondary">
	<div class="container">
		<h2>Last created guides</h2>

		<ul>
			<li>
				Empty
			</li>
		</ul>

		<a routerLink="/guide">Make a guide</a>
		<a routerLink="/guides">See all created guides</a>
	</div>
</section>
