<div class="container">

	<div class="starter-template">
		<h1>API</h1>

		<div class="form-inline">
		  <label class="sr-only" for="inlineFormInputGroup">Summoner name</label>
		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <div class="input-group-addon">@</div>
		    <input type="text" class="form-control" #summonerName value="bearbehindpc" placeholder="Username">
		  </div>

		  <button (click)="search(summonerName.value);" class="btn btn-primary">Submit</button>
		</div>
	</div>

</div><!-- /.container -->
