<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">My Account</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>My Account</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary" *ngIf="dataService.user">

	<div class="wrap-padder">
		<ul class="left-menu">
			<li [class.active]="routerActive == 'account'"><a (click)="switchRouter('account')">Account</a></li>
			<li [class.active]="routerActive == 'guides'"><a (click)="switchRouter('guides')">Guides</a></li>
		</ul>

		<div class="content">
			<div *ngIf="routerActive == 'account'">
				<h3>My Account</h3>

				<h4>Change my Password</h4>
				<p>Not available</p>

				<h4>Delete my Account</h4>
				<p>Not available</p>
			</div>

			<div *ngIf="routerActive == 'guides'">
				<h3>My Guides</h3>

				<table>
					<thead>
						<tr>
							<th style="width: 20%;">Modified date</th>
							<th>Author name</th>
							<th>State</th>
							<th>Version</th>
							<th>Champion</th>
							<th>Build</th>
							<th>Vote</th>
							<th>Actions</th>
						</tr>
					</thead>

					<tbody *ngIf="guides">
						<tr *ngFor="let guide of guides">
							<td>{{guide.modifiedData | date:'medium'}}</td>
							<td>{{guide.author.pseudo}}</td>
							<td>{{guide.state}}</td>
							<td>{{guide.version}}</td>
							<td><img src="http://ddragon.leagueoflegends.com/cdn/{{dataService.realms.data.v}}/img/champion/{{guide.champion.image.full}}" /></td>
							<td><app-build-display [guide]="guide"></app-build-display></td>
							<td>{{guide.vote}}</td>
							<td><button type="button" class="btn btn-primary" routerLink="/guide-edit/{{guide._id}}">Edit</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
