<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">Who we are</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>Who we are</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary">

	<div class="wrap-padder">
		<h3>Nous sommes des joueurs</h3>
		<p>Comme vous, nous sommes avant tout des joueurs, nous aimons jouer en particulier à <a href="https://play.euw.leagueoflegends.com/en_GB">League Of Legends.</a></p>
		<h3>Nous sommes pasionnés</h3>
		<p>Nous sommes des gens passionnées qui aimons partager.</p>
		<p>Nous avons créer ce site pour créer une communauté autour de la même passion.</p>
		<p>Rejoignez nous et créer vos propres guides.</p>
		<a routerLink="/subscribe" class="big-button">Join us !</a>
	</div>
</section>
