<section class="sub-header background">

	<div class="sub-header-content">
		<div class="wrap-padder">

			<h2 class="big-title">Who we are</h2>

			<ul class="arianne">
				<li>
					<a routerLink="/">Home</a>
					<i class="fas fa-arrow-right"></i>
				</li>
				<li>Who we are</li>
			</ul>
		</div>
	</div>
</section>

<section class="page-secondary">

	<div class="wrap-padder">
		<h3>We are players</h3>
		<p>Like you, we are first and foremost players, we like play game in particularity <a href="https://play.euw.leagueoflegends.com/en_GB">League Of Legends.</a></p>
		<h3>We are passionate</h3>
		<p>We are passionate people who love to share. We created this website for help other people.</p>
		<p>We love to participate and create content. That's why LOL Hype was created.</p>
		<h3>Join us and contribute !</h3>
		<p>You can create guide, follow people with this website, you just need to be subscribed</p>
		<a routerLink="/subscribe" class="big-button">Join us and participate !</a>
	</div>
</section>
