/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
}

a {
	color: #f1c40f;
}

a:hover {
	text-decoration:none;
	color: #f1c40f;
}

.green {
	color: #2ecc71;
}

.red {
	color: #c0392b;
}

.right {
	float: right;
}

p, li {
	color: white;
}

h2, h3 {
	color: #f1c40f;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.6em;
}

table a {
	color: rgba(0,0,0,0.8);
}
table a:hover {
	color: rgba(0,0,0,0.9);
}

table {
	border-collapse: true;
	width: 100%;
}

table thead tr th {
	padding: 20px;
	font-weight: bold;
	background-color: #007bff;
}

table tbody tr td {
	padding: 20px;
	color: rgba(0,0,0,0.8);
}

table tbody tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 1);
}

table tbody tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.8);
}

.mb-40 {
	margin-bottom: 40px;
}

body {
	background-color: #000000;
	color: #FFF;
}

ul.arianne {
	font-size: 0.9em;
	padding: 0;
	display: flex;
}

ul.arianne li {
	margin-right: 5px;
	list-style: none;
}
ul.arianne li svg {
	font-size: 0.8em;
}

ul.arianne li a {
	padding: 5px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

ul.arianne li a:hover {
	cursor: pointer;
}

.tooltip {
	text-align: left!important;
	font-size: 1em;
}

.bloc-create-guide .tooltip {
	border: solid 1px rgba(255,0,0,0.2);
}

.tooltip .tooltip-inner {
	text-align: left!important;
	font-size: 1em;
	max-width: 500px;
}


.tooltip .tooltip-inner div.container {
	display: flex;
}

.tooltip .tooltip-inner font {
	font-size: 1em!important;
}

.dropdown-menu {
	background-color: #2f2f2f;
}

/** Design **/
.wrap {
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: auto;
}

.wrap .wrap-padder {
	padding-left: 80px;
	padding-right: 80px;
}

.wrap header {
	width: 100%;
}

header {
	margin-top: 50px;
	position: absolute;
	width: 100%;
}

header .title {
	color: #f1c40f;
}

header .sub-content {
	display: flex;
	justify-content: space-between;
}

header .sub-content ul {
	padding-top: 25px;
	display: flex;
}

header .sub-content ul li {
	list-style: none;
	font-size: 1.0em;
	margin-left: 20px;
}

header .dropdown-menu ul {
	display: list-item;
	padding: 0;
}

header .dropdown-menu ul li {
	text-align: right;
	display: block;
	margin-left: 0;
	height: 100%;
	width: 100%;
}

header .dropdown-menu ul li a {
	padding-right: 20px;
	display: block;
	width: 100%;
	height: 100%;
}

header .dropdown-menu ul li a:hover {
	cursor: pointer;
}

header .dropdown-menu ul li a:before {
	display: none;
}

a.underline {
	text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);
	position: relative;
	text-decoration: none;
}
a.underline:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 20px;
  left: 0;
  background-color: #f1c40f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a.underline:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

header .sub-content ul li a, footer .sub-content ul li a {
	text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);
	position: relative;
	text-decoration: none;
}

header .sub-content ul li a:before, footer .sub-content ul li a:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 20px;
  left: 0;
  background-color: #f1c40f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header .sub-content ul li a:hover:before, footer .sub-content ul li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.wrap .sub-header {
	padding-top: 300px;
}
.wrap .sub-header-content {
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 50px;
	padding-bottom: 50px;
}

.background {
	width: 100%;
	-moz-box-shadow: inset 0px 0px 20px 14px #000000;
	-webkit-box-shadow: inset 0px 0px 20px 14px #000000;
	-o-box-shadow: inset 0px 0px 20px 14px #000000;
	box-shadow: inset 0px 0px 20px 14px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=90, Strength=20);
	background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Sion_2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.page-secondary {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba(14, 14, 14, 1);
}

.page-secondary h2 {
	color: #007bff;
	margin-bottom: 40px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.page-secondary .flex {
	display: flex;
	justify-content: space-between;
}

footer {
	padding-top: 40px;
	width: 100%;
	height: 200px;
}

footer .sub-content {
	display: flex;
	justify-content: space-between;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bloc-loader {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	z-index: 99;
}

.bloc-loader .sk-circle {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
